/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 Oct, 2020, 12:02:38 PM
    Author     : AYESHA
*/

 topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: black;
}

body 
{
    background-color: pink;
    
}

.tagline {
    text-align: center;
    color: white;
    font-size: 42px;
}
.advertising
{
   
    height: 300px;
    width: 300px;
}
// Style inputs, select elements and textareas 
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

// Style the label to display next to the inputs 
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.footer {
  position: fixed;
  
  bottom: 0;
  height: 10px;
  width: 100%;
  padding: 15px;
  background-color: black;
  color: white;
  text-align: center;
}

.image{
    /*min-height:480px;*/
    padding: 50px;
}

.sale{
    height: auto;
    width: 600px;
    border: 5px red solid;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.copyright{
    
}
.myform{
    margin-top: 100px;
}